/* General Rules */
:root{
    --blue-theme-colour:rgb(45, 150, 200);
    --white-theme-colour: rgb(240, 240, 240);
    --grey-theme-colour: rgb(197, 202, 209);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 5fr;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* Navigation Bar */
.nav{
    background-color: var(--white-theme-colour);
    grid-column: 2/6;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-left: 45px;
    font-size: 1.3rem;
}

.nav1 input{
    font-size: 1.3rem;
    margin-left: 10px;
    padding: 20px;
    width: 70%;
    height: 30px;
    border-radius: 50px;
    border: none; 
    background-color: var(--grey-theme-colour);
}

.nav2{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.right-side-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.buttons button{
    font-size: 1.3rem;
    padding: 15px 30px;
    background: var(--blue-theme-colour);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 50px;
}







/* Sidebar */
.sidebar{
    background: var(--blue-theme-colour);
    color: white;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
}

.sidebar > div > h1{
    margin-left: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.sidebar > div > h1 > i{
    font-size: 1.5rem;
    width: 30px;
    justify-self: center;
}

.sidebar .logo > h1{
    font-size: 3rem;
    border-bottom: 2px solid rgb(59, 53, 53);
}

.sidebar .logo > h1 i{
    justify-self: start;
    font-size: 3rem;
}

/* Main-Content */
.main-content{
    background-color: var(--grey-theme-colour);
    grid-column: 2/6;

}

.main-content .card{
    background-color: var(--white-theme-colour);
}

/* img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
} */
